{# src/OC/Blog/Resources/views/Article/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
  <h2>Toutes les posts</h2>

    {% for advert in listAdvert %}
  <div style="width:auto; text-align:center ">
        <div class="title">
         {{advert.title}}</div>
        <div class="text">par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}</div>
      <div class="text">{{ advert.content }}</div>
          <a href="{{ path('esiea_blog_modifier', {'id': advert.id}) }}" class="btn btn-default">> 
             Modifier l'information
    </a>
          <a href="{{ path('esiea_blog_supprimer', {'id': advert.id}) }}" class="btn btn-danger">
      Supprimer l'information
    </a>
</div>
    {% else %}
      <li>Aucun article disponible pour le moment.</li>
    <li>Cliquez sur "ajouter une nouvelle information" pour alimenté notre BLOG !</li>
    {% endfor %}
     

{% endblock %}