{# src/OC/Blog/Resources/views/Article/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container">
  <h1>Rejoigner notre Pokeblog et partager toutes vos connaissances de cet univers fantastiques!</h1>
  <h2>Liste des Posts</h2>

</div>
    {% for advert in listAdvert %}
<div class="row">
    <section class="col-lg-6 col-lg-offset-3">
   <div class="transbox">
     <div style="width:auto; text-align:center ">
        <div class="title">
         {{advert.title}}</div>
        <div class="text">par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}</div>

    <a href="{{ path('esiea_blog_article', {'id': advert.id}) }}" class="btn btn-swag">
             Voir le Post
      </a>
    </div>
  </div>
</section>
</div>
    {% else %}
      <li>Aucun article disponible pour le moment.</li>
    <li>Cliquez sur "ajouter une nouvelle information" pour alimenté notre BLOG !</li>
    {% endfor %}
     

{% endblock %}