
{% extends "::base.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block body %}
  <div style="width:auto; text-align:center">
  <h2>{{ advert.title }}</h2>
  <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

<div class= "container">

  <h2>L'article a été poster aver succès BRAVO!!! </h2>

</div>

  <p>

    <a href="{{ path('esiea_blog_homepage') }}" class="btn btn-default">
      Retour à la liste des articles

    </a>
  </p>
</div>
{% endblock %}